page-login {
    .alertCustomCss {
        color: white; // text color for basic alerts
        button {
            color: white !important;
            background-color: color($colors, secondary, base) !important;
        }
        .alert-message {
            color: white; // text color for confirm alerts
        }
        .alert-wrapper {
            background-color: color($colors, dark, base);
        }
    }
    .img {
        //   height: 100px;
        //   width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .headline {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        width: 50px;
        display: block;
        margin: auto;
        /* border-block-end-color: #fff; */
        border-bottom-color: #0d90daeb;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #dedede !important;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .button-md {
        box-shadow: 2px 1px 4px 2px !important;
    }
    .btn_cnx {
        width: 100%;
        padding: 25px;
        margin: 0;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
    }
    .imground {
        background: #fff;
        border: 8px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 2px 2px 25px 0px #f5f5f5;
    }
    .img_center {
        border: 5px solid #fff;
        padding: 3px;
        height: 104px;
        width: 107px !important;
        border-radius: 50%;
        display: block;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        background: #f5f5f585;
        margin-top: 10px;
        -webkit-box-shadow: 2px 2px 20px 2px #ddd;
        box-shadow: 2px 2px 20px 2px #ddd;
        background: #fff;
    }
    .roundedimg {
        position: absolute;
        height: 60px;
        text-align: center;
        left: 0;
        right: 0;
        margin: 15px auto;
    }
    ._btn {
        text-align: center !important;
        position: absolute !important;
        background: #f5f5f585 !important;
        margin-top: -20px !important;
    }
    .background {
        background: linear-gradient(45deg, #becad1eb, #139ada, transparent) !important;
        background-color: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
    }
    .couleur {
        color: #488aff !important;
    }
    .inputtext {
        border: 1px solid #488aff !important;
    }
}