<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding style="background: #f5f5f585;padding:0px">
    <ion-col col-12 class="img" style="text-align:center;padding:0">
        <ion-row style="height:100px;">

        </ion-row>
        <ion-row style="margin-top: -105px;;">
            <ion-col col-12>
                <p class="img_center">
                    <img src="assets/imgs/Logotbn.png" class="roundedimg">
                </p>
            </ion-col>
        </ion-row>
    </ion-col>
    <ion-col col-12>
        <h2 style="text-align: center;color: #7d7c7c;font-weight:bold">Trombinoscope</h2>
        <p class="headline"></p>
        <p style="text-align:center;font-size: 20px;color: #7d7c7c;">
            Bienvenue, connectez-vous,<br> pour accéder à votre compte <br>
        </p>
        <form #form="ngForm" (ngSubmit)="login(form)" style="padding:20px;margin-top:-45px">
            <p style="font-size: 15px;font-weight: bold;color:#fff;padding:10px">
            </p>
            <ion-item class="inputtext">
                <ion-icon name="mail"></ion-icon>
                <ion-input type="text" required name="email" [(ngModel)]="user.email" placeholder="E-mail"></ion-input>
            </ion-item>
            <ion-item class="inputtext">
                <ion-label>
                    <ion-icon name="eye-off"></ion-icon>
                </ion-label>
                <ion-input type="password" required name="password" [(ngModel)]="user.password" placeholder="Mot de passe"></ion-input>
            </ion-item>
            <ion-col>
                <button ion-button type="submit" block style="z-index: 100;" class="btn_cnx background">
            Suivant <ion-icon name="arrow-forward" style="margin-left:10px"></ion-icon>
          </button>

            </ion-col>
            <!-- <p style="padding-top:10px;" style="display:none">
                <a href='?var' style="color:#fff !important;text-align:left;">Mot de passe oublié</a>
                <a style="color:#fff !important;float:right;">Inscription</a>
            </p> -->
        </form>
    </ion-col>

    <ion-col col-12 class="img _btn">
        <img src="../../assets/imgs/afridev.png" width="70px" height="70px">
    </ion-col>
</ion-content>