page-user-profil {
    .img_center {
        height: 170px;
        width: 300%;
        -o-object-fit: COVER;
        display: block;
        margin: 0 auto;
        object-fit: contain;
    }
    .button-md {
        background-color: linear-gradient(45deg, #488aff, #139ada, transparent) !important;
        box-shadow: 0px 16px 7px 1px #f5f5f5;
    }
    .infos {
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    .head {
        color: #fff;
        background: #fbfaff // border-radius: 0 0px 30px 30px;
    }
    .item-md {
        height: 30px !important;
        padding: 0px;
    }
    .img_edit {
        height: 50px;
        overflow: hidden;
        padding: 10p;
        position: absolute;
        position: absolute;
        /* width: 100px; */
        right: 20px;
        top: 15px;
        border: 1px solid;
        /* padding: 15px; */
        /* height: 50px; */
        background: #68e6d0;
        border-radius: 50%;
    }
    .text-input[disabled] {
        opacity: 1 !important;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .direction {
        text-align: center;
        background: #2b76b5;
        color: #fff;
        border-radius: 7px;
        border: 2px solid #fff;
        margin-bottom: 5px;
    }
    .titre_prof {
        text-align: center;
        background: #f5f5f5;
        color: #8d8e90;
        /* border-radius: 50px 50px 0px 0px; */
        text-transform: capitalize;
    }
    .list-md {
        margin: 0 !important;
        // height:33px !important;
    }
    .edit {
        border: 0px solid !important;
    }
    .show {
        margin-top: 11px
    }
    .title {
        font-size: 20px;
        text-transform: uppercase;
        color: #68e6d0;
        text-align: center;
    }
    .text-input-md {
        margin: 6px 8px;
        padding: 5px;
        border: 1px solid #eee;
        border-radius: 4px;
        width: calc(100% - 8px - 8px);
    }
    .titre {
        text-align: left;
        color: #8d8e90;
        text-transform: capitalize;
        font-size: 14px;
        padding: 16px 0;
    }
    .line {
        height: 30px
    }
    .direction p {
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px;
        text-align: center
    }
    .headline {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        display: block;
        margin: auto;
        /* border-block-end-color: #fff; */
        border-bottom-color: #68e6d0;
    }
    .title {
        font-size: 20px;
        text-transform: capitalize;
        color: #68e6d0;
        text-align: center;
    }
    .infos {
        font-weight: 400;
    }
    .iconback {
        float: left;
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
    }
    .toolbar-background-md {
        border-color: #fff;
        background: #fbfaff !important;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: #f5f5f5 !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }
    .text-input-md {
        text-align: left !important;
        font-size: 13px;
    }
    .item-md [item-left],
    .item-md [item-right],
    .item-md [item-start],
    .item-md [item-end] {
        margin: 0 !important;
    }
    .couleur {
        color: #488aff !important;
    }
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
        background: linear-gradient(45deg, #488aff, #139ada, transparent) !important;
    }
    .popup1 {
        background: linear-gradient(45deg, #488aff, #139ada, transparent) !important;
        padding: 0 20px;
        margin-left: -6px;
        margin-right: -6px;
        margin-top: 9px;
        border-radius: 20px 20px 0px 0;
        padding-bottom: 30px !important;
        bottom: 0;
        position: absolute;
    }
    page-login .inputtext {
        border: 1px solid #488aff !important;
    }
    .button-md1 {
        background: #fff !important;
        color: #488aff !important;
        border: 1px solid;
        width: 100%;
        text-decoration: none;
        padding: 15px;
        border-radius: 2px;
        margin-bottom: 13px;
        border-radius: 30px
    }
}