<!--
  Generated template for the UserProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-row style="text-align: center">
            <ion-col col-9 style="font-size: 20px">
                Profil
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>


<ion-content padding style="background:#fff">
    <ion-grid style="padding:0px;background:#fbfaff">
        <ion-row class="head">
            <ion-col col-12 style="padding:0">
                <ion-thumbnail item-start style="height:170px;">
                    <span class="img_edit background">
            <img  src='../../assets/imgs/ASSETS/icones/icone_editer.svg' style='height:50px;padding:15px' (click)="fromGallery()">
          </span>
                    <img *ngIf="!urlRecu" src="assets/imgs/default-img.gif" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" class="img_center">
                    <img *ngIf="urlRecu" [src]="urlRecu" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" style="height:100%;object-fit: cover;margin: auto;">

                </ion-thumbnail>
            </ion-col>
            <ion-col class="titre_prof" col-12 style="text-align: center;">
                <div style="line-height: 2.1px">
                    <p style="color: #333 !important;font-size: 15px">{{collaborateur.prenom}} {{collaborateur.nom}} <br></p>
                    <p style="font-size: 16px;font-weight: 400">{{collaborateur.poste}}</p>
                    <p style="font-size: 16px;font-weight: 400;padding-top:10px;line-height: 1px">
                        <!-- <span style="color:#333">IGG</span> : {{collaborateur.igg}} -->
                    </p>
                </div>

                <div style="margin-top:10px" nopadding>
                    <h4 class="title couleur">Informations</h4>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-grid nopadding>
        <ion-row nopadding *ngIf="disable">
            <ion-col col-12>
                <ion-row class='line'>

                    <ion-col col-3 class="titre">Nom : </ion-col>
                    <ion-col col-9 class="infos show">
                        {{collaborateur['nom']}}
                    </ion-col>

                </ion-row>
                <ion-row class='line'>

                    <ion-col col-3 class="titre">Prénom : </ion-col>
                    <ion-col col-9 class="infos show">
                        {{collaborateur['prenom']}}
                    </ion-col>

                </ion-row>
                <ion-row class='line'>

                    <ion-col col-3 class="titre">E-mail</ion-col>
                    <ion-col col-9 class="infos show">
                        {{collaborateur['email']}}
                    </ion-col>

                </ion-row>
                <ion-row class='line'>

                    <ion-col col-3 class="titre">Portable : </ion-col>
                    <ion-col col-9 class="infos show">
                        {{collaborateur['telephone']}}
                    </ion-col>

                </ion-row>
                <ion-row class='line'>

                    <ion-col col-3 class="titre">Fixe : </ion-col>
                    <ion-col col-9 class="infos show">
                        {{collaborateur['telephonefixe']}}

                    </ion-col>

                </ion-row>
            </ion-col>
            <ion-col col-12>
                <button ion-button block style="padding:25px;margin-top:20px" (click)="enable()" *ngIf="disable">
            <img src='../../assets/imgs/ASSETS/icones/icone_editer.svg' height="20px">
            <span style="margin-left:10px" >{{btn}}
            </span>
          </button>
                <button ion-button type="submit" *ngIf="!disable" block style="padding:25px;margin-top:20px">
            <img src='../../assets/imgs/ASSETS/icones/icone_valider.svg' height="20px">
            <span> <span style="margin-left:5px">{{btn}}</span>
            </span>
            <ion-spinner *ngIf="spinner" name="bubbles" style="float:right"></ion-spinner>
          </button>
            </ion-col>
        </ion-row>
        <form #form="ngForm" (ngSubmit)="updateUser(form)" *ngIf="!disable">
            <ion-row nopadding>
                <ion-col col-12>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Nom : </ion-col>
                        <ion-col col-9 class="infos edit">
                            <ion-input placeholder="Nom" name="nom" [disabled]="disable" [(ngModel)]="collaborateur['nom']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Prénom : </ion-col>
                        <ion-col col-9 class="infos edit">
                            <ion-input placeholder="prénom" [disabled]="disable" name="prenom" [(ngModel)]="collaborateur['prenom']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">E-mail</ion-col>
                        <ion-col col-9 class="infos edit">
                            <ion-input placeholder="email" [disabled]="disable" name="email" [(ngModel)]="collaborateur['email']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Portable : </ion-col>
                        <ion-col col-9 class="infos edit">
                            <ion-input placeholder="téléphone" [disabled]="disable" name="telephone" [(ngModel)]="collaborateur['telephone']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Fixe : </ion-col>
                        <ion-col col-9 class="infos edit">
                            <ion-input placeholder="téléphone fixe" [disabled]="disable" name="telephonefixe" [(ngModel)]="collaborateur['telephonefixe']"></ion-input>
                        </ion-col>

                    </ion-row>
                </ion-col>
                <ion-col col-12>
                    <button ion-button block style="padding:25px;margin-top:20px" (click)="enable()" *ngIf="disable">
            <img src='../../assets/imgs/ASSETS/icones/icone_editer.svg' height="20px">
            <span style="margin-left:10px" >{{btn}}
            </span>
          </button>
                    <button class="backgroundÒ" ion-button type="submit" *ngIf="!disable" block style="padding:25px;margin-top:20px">
            <img src='../../assets/imgs/ASSETS/icones/icone_valider.svg' height="20px">
            <span> <span style="margin-left:5px">{{btn}}</span>
            </span>
            <ion-spinner *ngIf="spinner" name="bubbles" style="float:right"></ion-spinner>
          </button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>