<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-row>
                <ion-col col-4>
                    <span style="text-align:center"> <img src="assets/imgs/Logotbn.png" width="auto" height="50px"></span>
                </ion-col>
                <ion-col col-8>
                    <p class="profil" style="cursor: pointer;" (click)="page()">
                        <img *ngIf="!urlRecu" src="../../assets/imgs/default-img.gif" onerror="this.onerror=null;this.src='assets/imgs/diouf.jpg';" alt="Profil" style="object-fit: cover;height: 50px;width: 100%">
                        <img *ngIf="urlRecu" [src]="urlRecu" onerror="this.onerror=null;this.src='assets/imgs/diouf.jpg';" alt="Profil" style="height: 50px;width: 100%;object-fit: cover;">
                    </p>
                </ion-col>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="background: #fbfaff;padding:0px">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid style="padding:0px;background:#fbfaff">
        <ion-row class="head">
            <ion-col col-12>
                <ion-row>
                    <ion-col col-12="">
                        <p class="img_center">
                            <span class="spanlogo">
                   <img *ngIf="!urlReculogo" src="../../assets/imgs/default-img.gif"
                     onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" class="imglogo1"
                     style="max-width: 100% !important;">
                   <img *ngIf="urlReculogo" [src]="urlReculogo" onerror="this.onerror=null;this.src='assets/imgs/diouf.jpg';"
                     alt="Profil" class="imglogo">
                 </span>
                        </p>
                    </ion-col>
                    <ion-col col-12 style="text-align: center;padding: 0;margin-top:5px;line-height: 0.8">
                        <h3 style="font-size:22px;font-weight: 400;color: #8e8c8c;">Trombinoscope<br>Sénégal</h3>
                    </ion-col>
                </ion-row>

            </ion-col>

        </ion-row>
        <ion-row style="padding: 0 7px;margin-top:-28px">
            <ion-searchbar (ionInput)="getItems($event)" placeholder="Rechercher..."></ion-searchbar>
            <img src="../../assets/imgs/ASSETS/icones/icone_recherche.svg" class="rech background" width="30px">
        </ion-row>
        <ion-row style="padding:10px;">
            <ion-col col-12 *ngIf="test">
                <ion-spinner *ngIf="spiner" name="bubbles"></ion-spinner>
                <ion-list>
                    <ion-item *ngFor="let item of items" style="cursor:pointer" (click)="gopage(item)">
                        <span item-start style="font-size:12px;line-height: 1.8;">
                        <span> {{item.nom}} {{item.prenom}}</span><br>
                        <span><ion-icon name="call"></ion-icon> {{item.telephone}}</span>
                        </span>
                        <span item-end style="font-size:11px;color:#31acff" *ngIf="item.service"> {{item.service.nom}} </span>
                        <span item-end style="font-size:11px;color:#31acff" *ngIf="item.direction"> {{item.direction.nom}} </span>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col *ngFor="let d of listedirections;let i" class="background direction " col-6 style="text-align:center" (click)="viewContact(d)">

                <p class="para">{{d.nom}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-list>
    <ion-item *ngFor="let agent of agents">
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>{{ agent.nom}}</h2>
      <p>{{ agent.prenom}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list> -->
</ion-content>