page-home {
    .searchbar-md .searchbar-input {
        padding: 6px 15px !important;
    }
    .toolbar-background-md {
        border-color: #fff;
        background: #fff !important;
    }
    .toolbar-md {
        padding: 0 !important;
        min-height: 56px;
    }
    .head {
        background: #fbfaff;
        height: 210px;
        // border-radius: 0 0px 30px 30px;
    }
    .rech {
        position: absolute;
        right: 15px;
        margin-top: 8px;
        padding: 5px;
        height: 43px;
        width: 40px;
    }
    .searchbar-search-icon {
        display: none;
    }
    .direction {
        // background-image: url('../../assets/imgs/ASSETS/bg.png');
        // background: #31abff;
        color: #fff;
        border-radius: 20px;
        border: 5px solid #fbfaff;
        height: 130px;
        //background-color: #1bd5bc;
    }
    .para {
        font-size: 16px !important;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 35px;
    }
    .item-md {
        box-shadow: 0 3px 5px #ddd !important;
        margin-bottom: 10px !important;
        border-radius: 5px;
    }
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
        background: #0d90daeb;
    }
    .direction p {
        font-size: 13px;
        padding: 10px;
        text-align: center
    }
    .titre_prof {
        text-transform: capitalize;
        font-size: 18px;
    }
    .img_center {
        position: absolute;
        left: 0;
        right: 0;
        margin: 30px 0;
        text-align: center;
        top: 50px;
        border-radius: 50px;
        height: 60px;
        //  -webkit-box-shadow: 2px 2px 20px 2px #ddd;
        //  box-shadow: 2px 2px 2px 2px #ddd;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .segment-md .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 4.2rem;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 4rem;
        text-transform: uppercase;
        color: #fff;
        background-color: #488aff !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede !important
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #dedede !important;
    }
    .imglogo {
        text-align: center;
        height: 60px;
        width: 60px;
        object-fit: contain;
        margin-top: 20px;
    }
    .imglogo1 {
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .spanlogo {
        display: block;
        position: absolute;
        height: 90px;
        width: 90px;
        overflow: hidden;
        background: #fff;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .15)
    }
    .couleur {
        color: #0d90daeb !important;
    }
    .button-md1 {
        background: #fff !important;
        color: #0d90daeb !important;
        border: 1px solid;
        width: 100%;
        text-decoration: none;
        padding: 15px;
        border-radius: 2px;
        margin-bottom: 13px;
        border-radius: 30px
    }
}