<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #fff;padding:0px">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid style="padding:0px">
    <ion-row style="padding:30px 0">
      <ion-col col-12>
        <ion-thumbnail item-start>
          <img src="assets/imgs/default-img.gif" class="img_center">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-12>
        <h3>Sene Alioune Badara</h3>
        <p>Direction des ressources humaines</p>
      </ion-col>
<span *ngIf="d.nom == 'Direction Générale'">
  <img src="../../assets/imgs/ASSETS/directions/dir_generale.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Direction Administrative et Financière'">
  <img src="../../assets/imgs/ASSETS/directions/dir_admin_finance.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Direction Jurique et Ressources Humaines'">
  <img src="../../assets/imgs/ASSETS/directions/dir_juridique.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Direction Commerciale et Réseau'">
  <img src="../../assets/imgs/ASSETS/directions/dir_comm_reseau.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Direction Clientèle Professionnelle'">
  <img src="../../assets/imgs/ASSETS/directions/dir_com_pro.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Direction D Exploitation'">
  <img src="../../assets/imgs/ASSETS/directions/dir_exploitation.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Direction Lubrifiant'">
  <img src="../../assets/imgs/ASSETS/directions/dir_lub.svg" height="55px;margin-top:5px">
</span>
<span *ngIf="d.nom == 'Autres'">
  <img src="../../assets/imgs/ASSETS/directions/autres.svg" height="55px;margin-top:5px">
</span>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="text-align:center">
        <span>
          <ion-icon name="apps" style="font-size: 4em"></ion-icon>
        </span>
        <p>This column will take 6 columns</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col style="display: table;">
    <ion-row class="head">
      <ion-col col-12>
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="Annuaire">
            ANNUAIRE
          </ion-segment-button>
          <ion-segment-button value="Profil">
            PROFIL
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-col [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'Annuaire'">
      <!-- <div *ngIf="operation !== null"> -->

      <div *ngFor="let agent of items">
        <ion-item class="item" style="border-radius: 4px;margin-bottom: 10px;box-shadow: 0px 1px 1px 2px #ddd;">
          <h2>{{ agent['nom'] }} {{ agent['prenom']}} </h2>
          <p></p>
          <h3 style="color:#8bc34a;font-size: 20px">
            <span style="font-size:11px">service_name</span>
          </h3>
          <ion-badge item-end>
            <ion-icon class="badge_icon" name="add" (click)="viewContact(agent)"></ion-icon>
          </ion-badge>
        </ion-item>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'Profil'">
      <!-- <div *ngFor="let service of services">
        <ion-card-title style="text-align:center">{{service.nom}}</ion-card-title>
        <div *ngFor="let agent of agents">
          <div *ngIf="agent.service.id === service.id">
            <ion-item *ngIf="agent.profil.nom != 'Simple' " class="item">
              <ion-card>
                <ion-card-header><ion-thumbnail>
                    <img src="assets/logo.png">
                  </ion-thumbnail>
                </ion-card-header>
                <ion-card-title>
                  {{agent.nom}} {{agent.prenom}} 
                </ion-card-title>
                <ion-card-content>{{agent.profil.nom}}</ion-card-content>
              </ion-card>
            </ion-item>
            <ion-item *ngIf="agent.profil.nom" class="item">
              <ion-card>
                <ion-row>
                  <ion-col col-12>
                    <ion-row>
                      <ion-col col-12>{{ agent.nom}} {{ agent.prenom}} </ion-col>
                      <ion-col col-12>{{ agent.email}} </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
              <h3 style="color:#8bc34a" item-end>
              </h3>
            </ion-item>
          </div>
        </div>
      </div> -->
    </ion-list>
  </ion-col>
  <!-- <ion-list>
    <ion-item *ngFor="let agent of agents">
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>{{ agent.nom}}</h2>
      <p>{{ agent.prenom}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list> -->
</ion-content>
