<!--
  Generated template for the DirectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <!-- <ion-icon class="iconback" name="ios-arrow-back" (click)="goback()" style="float:left"></ion-icon> -->
        <ion-title>
            <ion-row>
                <ion-col col-10 style="padding-top:20px;font-size:16px;text-align: center">
                    <span style="text-transform: capitalize;font-size:20px;">{{direction.nom | slice:0: 20}} <span *ngIf="direction.nom.length > 25"> ..</span></span>
                </ion-col>
                <ion-col col-2>
                    <p class="profil" style="cursor: pointer;" (click)="page()">
                        <img *ngIf="!urlRecu" src="../../assets/imgs/default-img.gif" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" style="width: 100%;object-fit: cover;height: 50px;">
                        <img *ngIf="urlRecu" [src]="urlRecu" onerror="this.onerror=null;this.src='assets/imgs/diouf.jpg';" alt="Profil" style="height: 50px;width: 100%;object-fit: cover;">
                    </p>
                </ion-col>
            </ion-row>
        </ion-title>
        <!-- <ion-row class="hd">
    </ion-row> -->
    </ion-navbar>

</ion-header>


<ion-content padding style="background:#fbfaff">
    <ion-grid style="padding:0px">

        <ion-row style="padding:0 7px">
            <ion-searchbar (ionInput)="getItems($event)" placeholder="Rechercher..."></ion-searchbar>
            <img src="../../assets/imgs/ASSETS/icones/icone_recherche.svg" class="rech background" width="30px">
        </ion-row>
        <ion-row style="padding:0;">
            <ion-col col-12 *ngFor="let agent of Directeurs" style="padding:15px">
                <ion-row (click)="viewService(agent)" style="height:106px;background:#fff;padding:15px;box-shadow: 2px 2px 10px 1px #eee;">
                    <ion-col col-4 style="height: 100px;">

                        <img *ngIf="agent['photo'] != null" src="http://trombino.afridev-group.com/img/{{agent['photo']}}" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" class="image">

                        <img *ngIf="agent['photo'] == null" src="../../assets/imgs/default-img.gif" class="image">
                        <!-- <img src="../../assets/imgs/ASSETS/icones/icone_user.svg" style="    position: absolute;left: 0;height: 110px;top: -20px;"> -->
                    </ion-col>
                    <ion-col col-8 style="padding-left:2px;height: 85px;text-align: center">
                        <p class="title_">{{agent['prenom'] | slice :0:10}} <span *ngIf='agent.prenom.length > 10'>..</span>{{agent['nom']}}</p>
                        <p class="soustitle">{{agent['poste']}}</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row style="padding:10px;">
            <ion-col class="" col-12 style="text-align:center;margin-top:-10px">
                <ion-row>
                    <ion-col col-12>
                        <!-- <p class="title">Directeurs</p> -->
                        <p class="headline background"></p>
                    </ion-col>
                </ion-row>

                <!-- <ion-row style="padding:0">
          <ion-col col-6 *ngFor="let dg of Directeurs">
            <ion-row (click)="viewService(dg)">
              <ion-col col-12 style="padding:0 10px">
                <img src="assets/imgs/diouf.jpg" class="img">
              </ion-col>
              <ion-col col-12 class="infos">
                <p class="title_">{{dg['nom']}} {{dg['prenom'] | slice:0:12}}</p>
                <p class="soustitle">{{dg['poste']}}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row> -->

            </ion-col>
        </ion-row>
        <ion-row style="padding:10px;">
            <!-- <ion-col  *ngFor="let s of listeServices; let i = index" class="" col-12 style="text-align:center;border-top: 1px solid #f4f4f4;"> -->
            <ion-col col-12 style="text-align:center;margin-top:-25px">
                <!-- <ion-row >
          <ion-col col-12 style="margin-bottom:20px">
            <p class="title">{{s.nom}}</p>
            <p class="headline"></p>
          </ion-col>
        </ion-row> -->

                <ion-row>
                    <!-- <ion-col col-6 *ngFor="let agent of listeServices[i].obj"  style="cursor:pointer" > -->
                    <ion-col col-6 *ngFor="let agent of items | slice:0:nb" style="cursor:pointer" (click)="viewService(agent)">

                        <ion-row>
                            <ion-col col-12 style="padding:0 10px">
                                <ion-row>
                                    <ion-col style>
                                        <ion-row>
                                            <ion-col class="thumb1">
                                                <img *ngIf="agent['photo'] != null" src="http://dev-trombino.afridev-group.com/img/{{agent['photo']}}" class="" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" style="    box-shadow: 0px 0px 11px 1px #ddd;border: 2px solid #ddd;border-radius: 50%;height: 90px;width: 120%;object-fit: cover;">
                                                <img *ngIf="agent['photo'] == null" src="../../assets/imgs/default-img.gif" class="img">
                                            </ion-col>
                                        </ion-row>

                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col col-12 class="infos">
                                <p class="title__">
                                    {{agent['prenom'] | slice :0:7}}<span *ngIf="agent['prenom'].length >7">..</span> {{agent['nom'] | slice :0:6}} <span *ngIf="agent['nom'].length >6">..</span> </p>
                                <p class="soustitle_">{{agent['poste']}} </p>
                            </ion-col>
                        </ion-row>
                        <!-- <ion-card >
              <ion-card-header>
                <img src="assets/imgs/default-img.gif" class="img">
              </ion-card-header>
              <ion-card-content>
                {{agent['nom']}} {{agent['prenom']}}
              </ion-card-content>
            </ion-card> -->
                    </ion-col>
                    <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="chargement en cours...">

                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>