page-direction {
    .toolbar-background-md {
        border-color: #fff;
        background: #fff !important;
    }
    .iconback {
        float: left;
        font-size: 30px;
        font-weight: bold;
    }
    .head {
        background: #007;
        color: #fff;
        // border-radius: 0 0 50px 50px;
        height: 260px;
    }
    .hd {
        box-shadow: 2px 2px 14px 2px #ddd;
        margin-bottom: 10px;
        padding: 5px;
        background: #fbfbfb;
    }
    .searchbar-md .searchbar-input {
        padding: 6px 15px !important;
    }
    .searchbar-search-icon {
        display: none;
    }
    .thumb {
        overflow: hidden;
        height: 100px;
        padding: 0;
        border-radius: 5px;
    }
    .thumb1 {
        // border-radius: 50%;
        // height: 90px;
        // max-width: 90px !important;
        // margin: auto;
        // background: #f5f5f5;
        // overflow: hidden;
        // box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
        /* border-radius: 50%; */
        height: 96px;
        max-width: 100px !important;
        margin: auto;
        /* background: #f5f5f5; */
        overflow: hidden;
        /* -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4); */
        /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);*/
    }
    .rech {
        position: absolute;
        right: 15px;
        margin-top: 8px;
        padding: 5px;
        height: 43px;
        width: 40px;
    }
    .direction {
        text-align: center;
        background: #007;
        color: #fff;
        border-radius: 7px;
        border: 2px solid #fff;
        margin-bottom: 25px;
    }
    .direction p {
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px;
        text-align: center
    }
    .image {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100px;
        border-radius: 50%;
        top: -13px;
        object-fit: cover;
        border: 1px solid #ddd;
        box-shadow: 0px 1px 1px 0px #ddd;
    }
    .titre_prof {
        padding: 20px 80px 80px 80px;
        background: #fff;
        color: #007;
        font-weight: bold;
        border-radius: 50px 50px 0px 0px;
        text-transform: capitalize;
        font-weight: bold;
    }
    .thumb1_center {
        height: 50px;
        width: 100px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img1 {
        height: 100%;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 0px #ddd;
        border: 1px solid #c5c1c1;
    }
    .img {
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 0px 4px 1px #f6f6f6;
        border: 1px solid #fff;
    }
    .infos {
        border: 1px solid #fbfaff;
        padding-top: 50px;
        margin-top: -50px;
        z-index: -1;
        background: #fff;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
        height: 135px;
        border-radius: 4px
    }
    .headline {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        width: 50px;
        display: block;
        margin: auto;
        /* border-block-end-color: #fff; */
        border-bottom-color: #1d99dc;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .title {
        font-size: 15px;
        text-transform: capitalize;
        color: #717171;
        font-weight: bold;
    }
    .title_ {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 400;
    }
    .title__ {
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 400;
    }
    .soustitle {
        color: #babfd2;
        font-size: 16px;
        margin-top: -12px
    }
    .soustitle_ {
        color: #babfd2;
        font-size: 14px;
        margin-top: -10px
    }
    .couleur {
        color: #0d90daeb !important;
    }
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
        background: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
    }
    .popup1 {
        background: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
        padding: 0 20px;
        margin-left: -6px;
        margin-right: -6px;
        margin-top: 9px;
        border-radius: 20px 20px 0px 0;
        padding-bottom: 30px !important;
        bottom: 0;
        position: absolute;
    }
    page-login .inputtext {
        border: 1px solid #0d90daeb !important;
    }
    .button-md1 {
        background: #fff !important;
        color: #0d90daeb !important;
        border: 1px solid;
        width: 100%;
        text-decoration: none;
        padding: 15px;
        border-radius: 2px;
        margin-bottom: 13px;
        border-radius: 30px
    }
}