page-service {
      .head {
        background: #007;
        color: #fff;
        // border-radius: 0 0 50px 50px;
        height: 260px;
      }

      .direction {
        text-align: center;
        background: #007;
        color: #fff;
        border-radius: 7px;
        border: 2px solid #fff;
        margin-bottom: 5px;
      }

      .direction p {
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px;
        text-align: center
      }

      .titre_prof {
        padding: 20px 80px 80px 80px;
        background: #fff;
        color: #007;
        font-weight: bold;
        border-radius: 50px 50px 0px 0px;
        text-transform: capitalize;
        font-weight: bold;
      }

      .img_center {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .scroll-content {
        padding: 0px !important;
      }
}
