<!--
  Generated template for the ServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid style="padding:0px">
  <!-- <ion-row class="head">
    <ion-col col-12 style="padding:30px 0">
      <ion-thumbnail item-start>
        <img src="assets/imgs/default-img.gif" class="img_center">
      </ion-thumbnail>
    </ion-col>
    <ion-col col-12 style="text-align: center;padding: 0">
      <h3>{{service.entreprise.nom}}</h3>
      <p class="titre_prof">{{service.nom}}</p>
    </ion-col>
  </ion-row>
  <ion-row style="padding:10px;" >
    <ion-col *ngFor="let s of listeServices" class="direction" col-6 style="text-align:center;height:150px">
      <span><ion-icon name="apps" style="font-size: 4em"></ion-icon></span>
      <p>{{s.nom}}</p>
    </ion-col>
  </ion-row> -->
  </ion-grid>
</ion-content>
