page-user-auth {
    .button-md {
        background-color: #fff !important;
        color: #007BFF !important;
        padding: 40px 0 !important;
        position: absolute !important;
        left: 0 !important;
        box-shadow: 2px 2px 60px 2px #ddd !important;
    }
    .argent {
        font-size: 18px;
        text-align: center;
        color: #757575;
    }
    .headline {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        width: 50px;
        display: block;
        margin: auto;
        /* border-block-end-color: #fff; */
        border-bottom-color: #007BFF;
    }
    .imground {
        border: 0px solid #fff;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 2px 2px 25px 0px #f5f5f5;
    }
    .img_center {
        border: 5px solid #fff;
        padding: 3px;
        height: 84px;
        width: 87px !important;
        border-radius: 50%;
        display: block;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        margin-top: 10px;
        -webkit-box-shadow: 2px 2px 20px 2px #ddd;
        box-shadow: 2px 2px 20px 2px #ddd;
    }
    .bloc-form {
        padding-bottom: 70px;
        min-height: 450px;
        margin-bottom: 35px;
        .codes {
            margin-bottom: 35px;
            display: flex;
            flex-flow: row nowrap;
            // height: 70px;
            ion-input {
                border-radius: 5px;
                border: none;
                //   color: $argent;
                text-align: center;
                font-weight: bold;
                font-size: 120%;
                display: block;
                margin: 6px;
                border: 2px solid #31abff;
                text-align: center !important;
                width: calc((100% - 48px)/4);
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                .text-input {
                    text-align: center;
                }
            }
            ion-input:focus {
                border: 2px solid #ddd;
            }
        }
    }
    .background {
        background: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
        background-color: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
    }
    .couleur {
        color: #0d90daeb !important;
    }
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
        background: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
    }
    .popup1 {
        background: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
        padding: 0 20px;
        margin-left: -6px;
        margin-right: -6px;
        margin-top: 9px;
        border-radius: 20px 20px 0px 0;
        padding-bottom: 30px !important;
        bottom: 0;
        position: absolute;
    }
    page-login .inputtext {
        border: 1px solid #0d90daeb !important;
    }
    .button-md1 {
        background: #fff !important;
        color: #0d90daeb !important;
        border: 1px solid;
        width: 100%;
        text-decoration: none;
        padding: 15px;
        border-radius: 2px;
        margin-bottom: 13px;
        border-radius: 30px
    }
}