<!--
  Generated template for the UserAuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header class="bg-bleu">
  <ion-navbar class="bg-bleu">
  </ion-navbar>
</ion-header> -->
<ion-content no-padding class="hght-100 bg-grisLeger" no-margin>
  <div class="bloc bloc-haut bg-bleu hght-40" style="margin-top: 0;padding-top: 15px;">
    <ion-col col-12 class="img" style="background: #fff;text-align:center;padding:0">
      <ion-row style="height:100px;background: #f5f5f5;margin-top:-20px">

      </ion-row>
      <ion-row style="margin-top: -55px;;">
        <ion-col col-12>
        <p class="img_center">
                <img src="assets/imgs/ASSETS/logo_total_1.png" style="margin-top:5px;height: 60px;">
        </p>
      </ion-col>
      </ion-row>
    </ion-col>
    <div class="bloc-form radius-5 bg-blanc hght-100" margin padding>
      <h3 text-center padding>Entrez votre Secure ID</h3>
      <p class="headline"></p>
      <p class="argent" padding>
        Veuillez entrer le secure ID qui a été envoyé dans votre boite email.
      </p>
      <small>{{ btn }}</small>
      <div class="codes">
        <ion-input type="number" maxlength="1" tabindex="1" class="input-code" #a placeholder="-" [(ngModel)]="code.nb1"
          (keyup)="getUserByCode(b)"></ion-input>
        <ion-input type="number" maxlength="1" tabindex="2" class="input-code" #b placeholder="-" [(ngModel)]="code.nb2"
          (keyup)="getUserByCode(c)"></ion-input>
        <ion-input type="number" maxlength="1" tabindex="3" class="input-code" #c placeholder="-" [(ngModel)]="code.nb3"
          (keyup)="getUserByCode(d)"></ion-input>
        <ion-input type="number" maxlength="1" tabindex="4" class="input-code" #d placeholder="-" [(ngModel)]="code.nb4"
          (keyup)="getUserByCode(a)"></ion-input>
        <ion-spinner name="bubbles" *ngIf="spinner"></ion-spinner>
      </div>
      <button *ngIf="rebours" ion-button icon-end  full style="padding: 30px 0 20px 0;" class="btn-inscription bg-bleu-ciel">
        {{minutes}} min : {{ secondes }} seconde(s)
      </button>
      <button *ngIf="!rebours" ion-button icon-end  full style="padding: 30px 0 20px 0;" class="btn-inscription bg-bleu-ciel">
        Temps Ecoulé
      </button>
    </div>
  </div>
  <div class="bloc bg-bleu hght-60 bloc-bas">
    <div class="around hght-100 bg-grisLeger">
    </div>
  </div>
</ion-content>

