// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.alertCustomCss {
    border-radius: 10px;
}

.boutton-round {
    background: #0d90daeb;
}

// android
.inputtext {
    border: 1px solid #488aff;
    margin-bottom: 10px;
    border-radius: 50px
}

.couleur {
    color: #488aff !important;
}

// .profil {
//     height: 45px;
//     width: 45px;
//     object-fit: cover;
//     position: absolute;
//     right: 15px;
//     top: -18px;
//     padding: 0;
//     border-radius: 50%;
//     background: #ddd;
//     overflow: hidden;
// }
.profil {
    height: 50px;
    width: 50px;
    margin: 0;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
    float: right;
    margin-top: 5px;
}

.btn {
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px !important;
}

.background {
    background: linear-gradient(45deg, #488aff, #139ada, transparent) !important;
    // background: #488aff !important;
}