page-user-edit {
    .img_center {
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    .button-md {
        //background-color: #68e6d0 !important;
        box-shadow: 0px 16px 7px 1px #f5f5f5;
    }
    .head {
        color: #fff;
        background: #fbfaff // border-radius: 0 0px 30px 30px;
    }
    .item-md {
        height: 30px !important;
        padding: 0;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        margin-right: -20px;
    }
    .direction {
        text-align: center;
        color: #fff;
        border-radius: 7px;
        border: 2px solid #fff;
        margin-bottom: 5px;
    }
    .line {
        height: 40px
    }
    .infos {
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 30px;
    }
    .titre_prof {
        text-align: center;
        background: #f5f5f5;
        color: #333;
        font-weight: bold;
        /* border-radius: 50px 50px 0px 0px; */
        text-transform: capitalize;
        //border-bottom: 2px solid #007BFF;
    }
    .list-md {
        margin: 0 !important;
        height: 40px;
        border-bottom: 1px solid #ddd;
    }
    .text-input-md {
        text-align: left !important;
        margin: 0 !important;
    }
    ._title {
        color: #488aff;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    .titre {
        text-align: left;
        color: #8d8e90;
        text-transform: capitalize;
    }
    .direction p {
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px;
        text-align: center
    }
    .headline {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        display: block;
        margin: auto;
        /* border-block-end-color: #fff; */
    }
    .title {
        font-size: 20px;
        text-transform: capitalize;
        color: #68e6d0;
        text-align: center;
    }
    .iconback {
        float: left;
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
    }
    .img_edit {
        height: 50px;
        overflow: hidden;
        padding: 10p;
        position: absolute;
        position: absolute;
        /* width: 100px; */
        right: 20px;
        top: 15px;
        border: 1px solid;
        /* padding: 15px; */
        /* height: 50px; */
        background: #31abff;
        border-radius: 50%;
    }
    .toolbar-background-md {
        border-color: #fff;
        background: #fbfaff !important;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: #f5f5f5 !important;
        box-shadow: inset 0 -1px 0 0 #f5f5f5 !important;
    }
    .background {
        background: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
        background-color: linear-gradient(45deg, #0d90daeb, #139ada, transparent) !important;
    }
}