<!--
  Generated template for the UserEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="display:none">

    <ion-navbar>
        <ion-title style="text-align:center;padding-top:3px">TROMBINOSCOPE</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding style="background:#fff">
    <ion-grid style="padding:0px;background:#fbfaff">
        <ion-row class="head">
            <ion-col col-12 style="padding:0">
                <ion-thumbnail style="height: 180px;">
                    <span class="img_edit background">
            <img src='../../assets/imgs/ASSETS/icones/icone_editer.svg' al="editer photo" style='height:50px;padding:15px' (click)="fromGallery()">
          </span>
                    <img *ngIf="!urlRecu" src="assets/imgs/default-img.gif" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" class="img_center">
                    <img *ngIf="urlRecu" [src]="urlRecu" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" style="height:100%;object-fit: cover;margin: auto;">

                </ion-thumbnail>
            </ion-col>
            <ion-col class="titre_prof" col-12 style="text-align: center;">
                <div style="line-height: 8.8px">
                    <p style="font-size: 20px;font-weight:400">{{agent['prenom']}} {{agent['nom']}} </p>
                    <p style="font-size: 16px;font-weight: 400;color:8d8e90 !important">{{agent['poste']}}</p>
                </div>
                <div style="margin-top:30px" nopadding>
                    <h4 class="_title">Informations</h4>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-grid nopadding>
        <form #form="ngForm" (ngSubmit)="updateUser(form)">
            <ion-row nopadding>
                <ion-col col-12>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Nom : </ion-col>
                        <ion-col col-9 class="infos">
                            <ion-input placeholder="Nom" name="nom" [(ngModel)]="agent['nom']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Prénom : </ion-col>
                        <ion-col col-9 class="infos">
                            <ion-input placeholder="prénom" name="prenom" [(ngModel)]="agent['prenom']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">E-mail</ion-col>
                        <ion-col col-9 class="infos">
                            <ion-input placeholder="email" name="email" [(ngModel)]="agent['email']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Portable : </ion-col>
                        <ion-col col-9 class="infos">
                            <ion-input placeholder="téléphone" name="telephone" [(ngModel)]="agent['telephone']"></ion-input>
                        </ion-col>

                    </ion-row>
                    <ion-row class='line'>

                        <ion-col col-3 class="titre">Fixe : </ion-col>
                        <ion-col col-9 class="infos">
                            <ion-input placeholder="téléphone fixe" name="telephonefixe" [(ngModel)]="agent['telephonefixe']"></ion-input>
                        </ion-col>

                    </ion-row>
                </ion-col>
                <!-- <ion-col col-12>
          <ion-list>
            <ion-item >
              <span item-start class="titre">Nom</span>
              <span item-end>
                <ion-input placeholder="Nom" name="nom" [(ngModel)]="agent['nom']"></ion-input>
              </span>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item >
              <span item-start class="titre">Prénom</span>
              <span item-end>
                <ion-input placeholder="prénom" name="prenom" [(ngModel)]="agent['prenom']"></ion-input>
              </span>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item >
              <span item-start class="titre">Téléphone</span>
              <span item-end>
                <ion-input placeholder="Mobile" name="telephone" [(ngModel)]="agent['telephone']"></ion-input>
              </span>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item >
              <span item-start class="titre">Téléphone Fixe</span>
              <span item-end>
                <ion-input placeholder="fixe" name="telephonefixe" [(ngModel)]="agent['telephonefixe']"></ion-input>
              </span>
            </ion-item>
          </ion-list>
      </ion-col> -->
                <ion-col col-12>
                    <button class="btn background" ion-button type="submit" block style="padding:25px;margin-top:30px">
            <img src='../../assets/imgs/ASSETS/icones/icone_editer.svg' height="20px"> <span style="margin-left:10px">
              Enregistrer ses informations
              <span *ngIf="spinner2" style="float: right">
                <ion-spinner name="bubbles"></ion-spinner>
              </span>
            </span>
          </button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>