<!--
  Generated template for the AgentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Informations Personnelles</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-header>

    <ion-navbar>
        <ion-row>
            <ion-col col-9 style="padding-top:20px;font-size:16px;text-align: center">
                <span style="text-transform: capitalize;font-size:20px;">Profil</span>
            </ion-col>
            <ion-col col-2 style="margin-left:10px">
                <p class="profil" style="cursor: pointer;" (click)="page()">
                    <img *ngIf="!urlRecu" src="../../assets/imgs/default-img.gif" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" style="width: 100%;object-fit: cover;height: 50px;">
                    <img *ngIf="urlRecu" [src]="urlRecu" onerror="this.onerror=null;this.src='assets/imgs/diouf.jpg';" alt="Profil" style="height: 50px;width: 100%;object-fit: cover;">
                </p>
            </ion-col>
            <!-- <ion-col class="col-10" style="padding-top:20px;font-size:16px;text-align: center">
                Profil
            </ion-col>
            <ion-col class="col-2">
                <p class="profil" (click)="page()">
                    <img *ngIf="!urlRecu" src="../../assets/imgs/default-img.gif" onerror="this.onerror=null;this.src='assets/imgs/diouf.jpg';" alt="Profil" style="object-fit: cover;height: 45px;width: 100%">
                    <img *ngIf="urlRecu" [src]="urlRecu" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" alt="Profil" style="height: 50px;width: 100%;object-fit: cover;">
                </p>
            </ion-col> -->
        </ion-row>
    </ion-navbar>

</ion-header>

<ion-content padding style="background:#fff">
    <ion-grid style="padding:0px;background:#fbfaff">
        <ion-row class="head">
            <ion-col col-12 style="padding:0">
                <ion-thumbnail item-start style="height:170px">
                    <img *ngIf="agent.photo != null" src="http://dev-trombino.afridev-group.com/img/{{agent.photo}}" onerror="this.onerror=null;this.src='assets/imgs/default-img.gif';" style="height:100%;object-fit: cover;margin: auto;">
                    <img *ngIf="agent.photo == null" src="../../assets/imgs/default-img.gif" style="height: 200px;width: 100%">
                </ion-thumbnail>
            </ion-col>
            <ion-col class="titre_prof" col-12 style="text-align: center;margin-top:20px">
                <div>
                    <p style="color: #000 !important;font-size: 18px;margin-bottom: 25px;">{{agent.prenom}} {{agent.nom}} </p>
                    <p style="font-size: 16px;margin-top:-10px">{{agent.poste}}</p>
                </div>
                <div style="margin-top:40px" nopadding>
                    <h4 class="title couleur">Informations</h4>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col *ngIf="agent.service" col-12 style="border-bottom:1px solid #f5f5f5">
                <ion-row>
                    <ion-col col-3 class="titre">Direction :</ion-col>
                    <ion-col col-9 class="infos" *ngIf="agent.service">{{agent.service.direction.nom }}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 style="border-bottom:1px solid #f5f5f5" *ngIf="agent.service">
                <ion-row>
                    <ion-col col-3 class="titre">Service :</ion-col>
                    <ion-col col-9 class="infos" *ngIf="agent.service">{{agent.service.nom}}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 style="border-bottom:1px solid #f5f5f5">
                <ion-row>
                    <ion-col col-3 class="titre">Email :</ion-col>
                    <ion-col col-9 class="infos">{{agent.email}}</ion-col>
                </ion-row>
            </ion-col>
            <!-- <ion-col col-12 style="border-bottom:1px solid #f5f5f5">
        <ion-row>
          <ion-col col-3 class="titre">Adresse</ion-col>
          <ion-col col-9 class="infos">{{agent.adresse}}</ion-col>
        </ion-row>
      </ion-col> -->
            <ion-col col-12 style="border-bottom:1px solid #f5f5f5">
                <ion-row>
                    <ion-col col-3 class="titre">Portable :</ion-col>
                    <ion-col col-9 class="infos">{{agent.telephone}}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 style="border-bottom:1px solid #f5f5f5">
                <ion-row>
                    <ion-col col-3 class="titre">Fixe :</ion-col>
                    <ion-col col-9 class="infos">{{agent.telephonefixe}}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top:10px">
            <ion-col col-12 *ngIf="test == true" class="popup">
                <ion-row class="popup1 background">
                    <ion-col col-12><span style="float: right;padding:5px;font-weight: bold;color: #fff;" (click)="showPhone()">fermer</span></ion-col>
                    <ion-col col-12 class='button-md1'>
                        <a href="tel:{{agent.telephone}}" block style="font-size:20px;padding:25px !important;text-align: center;text-align: center">
                            <img src='../../assets/imgs/ASSETS/icones/icone_appeler.svg' height="20px">
                            <span style="margin-left:5px;">
                          <ion-icon name="call"></ion-icon> Appeler {{agent.telephone}}
                          </span>
                        </a>
                    </ion-col>
                    <ion-col col-12 class='button-md1'>
                        <a href="tel:{{agent.telephonefixe}}" block style="font-size:20px;padding:25px !important;text-align: center">
                            <img src='../../assets/imgs/ASSETS/icones/icone_appeler.svg' height="20px">
                            <span style="margin-left:5px;">
                              <ion-icon name="call"></ion-icon> Appeler {{agent.telephonefixe}}
                            </span>
                        </a>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-6>

                <a (click)="showPhone()" class="btn background" ion-button block style="padding:10px">
                    <img src='assets/imgs/ASSETS/icones/icone_appeler.svg' height="20px"> <span style="margin-left:5px;">Appeler</span>
                </a>
            </ion-col>
            <ion-col col-6>
                <a class="btn background" href='mailto: {{ agent.email}}' ion-button block style="padding:10px">
                    <img src='../../assets/imgs/ASSETS/icones/icone_contacter.svg' height="20px"> <span style="margin-left:5px">Contacter</span>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>