page-agent {
    .head {
        color: #fff;
        background: #fff;
        // border-radius: 0 0px 30px 30px;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .headline {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        width: 50px;
        display: block;
        margin: auto;
    }
    .direction {
        text-align: center;
        background: #68e6d0;
        color: #fff;
        border-radius: 7px;
        border: 2px solid #fff;
        margin-bottom: 5px;
    }
    .titre_prof {
        text-align: center;
        background: #f8f6ffe3;
        color: #8d8e90;
        /* border-radius: 50px 50px 0px 0px; */
        text-transform: capitalize;
    }
    .title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #488aff !important;
    }
    .alert-md .alert-button {
        color: #fff !important;
        background-color: #488aff !important;
    }
    .titre {
        text-align: left;
        color: #8d8e90;
        text-transform: capitalize;
    }
    .button-md1 a {
        text-decoration: none;
    }
    .button-md {
        color: #fff !important;
    }
    .direction p {
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px;
        text-align: center
    }
    .headline {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        width: 50px;
        display: block;
        margin: auto;
        /* border-block-end-color: #fff; */
        border-bottom-color: #68e6d0;
    }
    .popup {
        position: absolute;
        bottom: 0;
        z-index: 100;
        height: 105%;
        margin: 0;
        padding-top: 399px;
        left: 0;
        padding-bottom: 10px;
        background: #6b6a6ab8 !important;
        bottom: 0
    }
    .infos {
        font-weight: 400;
        font-size: 14px;
        text-align: left;
    }
    .iconback {
        float: left;
        font-size: 30px;
        margin-left: 10px;
        font-weight: bold;
    }
    .toolbar-background-md {
        border-color: #fff;
        background: #fff !important;
    }
    .toolbar-md {
        padding: 0 !important;
        min-height: 56px;
    }
    .couleur {
        color: #488aff !important;
    }
    .btn {
        border-radius: 2px;
        overflow: hidden;
        height: 3.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
        // background: #488aff !important;
    }
    .popup1 {
        // background: #488aff !important;
        padding: 0 20px;
        margin-left: -6px;
        margin-right: -6px;
        margin-top: 9px;
        border-radius: 20px 20px 0px 0;
        padding-bottom: 30px !important;
        bottom: 0;
        position: absolute;
    }
    page-login .inputtext {
        border: 1px solid #488aff !important;
    }
    .button-md1 {
        background: #fff !important;
        color: #488aff !important;
        border: 1px solid;
        width: 100%;
        text-decoration: none;
        padding: 15px;
        border-radius: 2px;
        margin-bottom: 13px;
        border-radius: 30px !important;
    }
}